* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ------------------ HERO ---------------- */

.hero {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 3em;
    overflow-x: hidden;
}

.hero h1 {
    margin-top: 1.5em;
    font-size: 5em;
    color: #fff;
    text-shadow: -1px -1px 5px black;
    position: relative;
    z-index: 10;
}

.hero span {
    margin-left: 40vw;
    margin-top: .5em;
    font-size: .75em;
    display: block;
}

.kingdom {
    background-image: url(imgs/kingdom.jpg);
    background-size: cover;
    background-position: right;
    width: 75vw;
    height: 100%;
    border: 1px solid black;
    position: absolute;
    left: 0;
    clip-path: polygon(0 0, 75% 0, 65% 100%, 0% 100%);
    z-index: 2;
}

.slideshow {
    width: 60vw;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    transition: all ease-in-out 750ms;
}

.slideshow img {
    width: 60vw;
    border: 1px solid black;
}

.inquire-btn {
    background-color: #46a3ce;
    color: #fff;
    border: 1px solid black;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 20px 25px;
}

.inquire-one {
    position: absolute;
    right: 20%;
    bottom: 15%;
    z-index: 11;
}

.inquire-btn:hover {
    cursor: pointer;
}

.inquire-btn:active {
    transform: scale(.98)
}


/* ------------------ COA - photos ---------------- */

.photo-cont {
    height: 500px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-photo {
    width: 100%;
    height: 80%;
    border: 1px solid black;
    border-radius: 12px 12px 0px 0px;
    position: relative;
}

.main-photo-homes {
    background-image: url(home/home.jpeg);
    background-position: center;
    background-size: cover;
}
.main-photo-condo {
    background-image: url(condo/condo.jpeg);
    background-position: center;
    background-size: cover;
}
.main-photo-resort {
    background-image: url(resort/resort.png);
    background-position: center;
    background-size: cover;
}

.photo-choice-cont {
    height: 20%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.photo-choice-cont img {
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 20%;
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
    transition: all ease-in-out 250ms;
}

.photo-choice-cont img:hover {
    transform: scale(1.2)
}

.first-choice {
    border-radius: 0px 0px 0px 10px;
}

.last-choice {
    border-radius: 0px 0px 10px 0px;
}

.info-dump {
    margin: 1em 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.info-text {
    width: 40%;
}

.info-text-condo {
    width: 40%;
}

.info-text-condo-mobile {
    display: none;
}

.info-dump :is(h3,p) {
    margin: 1em;
    line-height: 25px;
    font-size: 1.25em;
}

.coa {
    margin-top: 1em;
    width: 100vw;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

.derp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.derp img {
    height: 150px;
    width: 150px;
}

.derp :is(h2,p) {
    padding: 10px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.center {
    margin-top: 2.5em;
    width: 33.33%;
    height: 50%;
    transform: translate(0%, 100%);
    transition: all ease 1000ms;
    opacity: 0;
    border-left: 1px solid rgb(160, 160, 160);
    border-right: 1px solid rgb(160, 160, 160);
    padding: 10px;
}

.left {
    transform: translate(-120%, 0%);
    margin-top: 2.5em;
    width: 33.33%;
    height: 50%;
    transition: all ease 1000ms;
    opacity: 0;
    padding: 10px;

}

.right {
    transform: translate(120%, 0%);
    margin-top: 2.5em;
    width: 33.33%;
    height: 50%;
    transition: all ease 1000ms;
    opacity: 0;
    padding: 10px;
}

.show {
    transform: translate(0%, 0%);
    opacity: 1;
}


/* ---------------- MODAL CONTENT -------------------- */


.modal-cont {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color:rgb(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.close-modal {
    position: absolute;
    color: #ee2e2e;
    right: 5px;
    top: 5px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 10px;
    border: 0;
    font-size: 1.25em;
    font-weight: bolder;
}

.showed {
    display: flex;
}

.modal {
    border-radius: 10px;
    width: 50%;
    height: 95%;
    background-color: #fff;
    position: relative;
}

.modal h2 {
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #46a3ce;
    border-radius: 10px 10px 0 0;
}

/* ---------------- FORM -------------------- */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: .5em 1em;
}

.form-cont {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    text-align: center;
}

.end-date, 
    .start-date {
        display: block;
}

select {
    font-size: 1.5em;
}

input {
    width: 200px;
    font-size: 1.5em;
    border: none;
    border-bottom: 2px black solid;
}

input:focus,
    input:active {
        outline: none;
    }

input[type=range] {
    cursor: pointer;
}

input[type=text],
    input[type=email] {
    cursor: pointer;
    box-shadow: inset 10px 10px 10px #fff !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type=date] {
    cursor: pointer;
    text-align: center;
}

input[type=checkbox] {
  margin: 0;
  width: 10%;
  border-bottom:1px solid #000;
  cursor: pointer;
}

input[type=radio] {
  border-bottom:1px solid #000;
}

.form-pool label {
    cursor: pointer;
}

.interested-h3 {
    margin-bottom: 10px;
}

.choice-stay {
    width: 100%;
    text-align: center;
}
.choice-stay label {
    margin-right: 0;
    margin-left: 40px;
    cursor: pointer;
}

label {
    margin: 10px;
}

.form-distance {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#poolY,
    #poolN {
    width: 50px;
    cursor: pointer;
}

.final-coa {
    display: relative;
    height: 25vh;
    width: 100vw;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.submit {
    font-size: 1.5em;
    padding: 10px 25px;
    margin-bottom: 25px;
    background-color: #fff3af;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.submit:active {
    transform: scale(.98)
}

form h3 {
    margin-top: 1.5em;
}


/* ---------------- FOOTER -------------------- */


footer {
    height: 100px;
    width: 100vw;
    background-color: gray;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

footer :is(a,p) {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

footer {
    height: 100px;
    width: 100vw;
    background-color: gray;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

footer :is(a,p) {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

@media (max-width: 1200px) {
    .hero h1 {
        font-size: 3em;
    }

    .inquire-one {
        position: absolute;
        z-index: 10;
        right: 15%;
        bottom: 10%;
    }

    footer {
        height: 100px;
        text-align: center;
    }
    
    footer :is(a,p) {
        font-size: .75em;
    }

    form {
        font-size: .75em;
    }
    
    input {
        width: 175px;
    }

    .close-modal {
        padding: 5px 10px;
        border: 0;
        font-size: 1em;
    }

    .modal h2 {
        font-size: 1em;
    }
    
}

@media (max-width:900px) {
    form {
        font-size: .7em;
    }
    input {
        width: 150px;
    }
}


@media (max-width: 800px) {

    .modal {
        width: 60%;
    }

    .close-modal {
        font-size: 1em;
    }

    form {
        font-size: .75em;
    }

    input {
        width: 150px;
    }

    label {
        margin: 5px;
    }

    #poolY,
        #poolN {
        width: 30px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .kingdom {
        background-position: center;
        clip-path: polygon(0 0, 75% 0, 75% 100%, 0% 100%);
    }

    .hero span {
        margin-left: 50%;
    }

    .inquire-one {
        position: absolute;
        z-index: 10;
        right: 15%;
        bottom: 10%;
    }

    .inquire-btn {
        font-size: 1em;
        border-radius: 10px;
        padding: 20px 25px;
    }

    .coa {
        height: 900px;
        width: 100vw;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .derp img {
        height: 100px;
        width: 150px;
    }
    
    .center {
        margin-top: 1em;
        width: 100%;
        height: 200px;
        opacity: 1;
        border-left: none;
        border-right: none;
      
    }
    
    .left {
        margin-top: 1em;
        width: 100%;
        height: 200px;
        opacity: 1;
    
    }
    
    .right {
        margin-top: 1em;
        width: 100%;
        height: 200px;
        opacity: 1;
    }
    
}

@media (max-width: 500px) {

    .modal {
        width: 100%;
    }

    .hero {
        height: 85vh;
    }

    .kingdom {
        margin-top: 4em;
        height: 60vh;
    }

    .slideshow {
        margin-top: 4em;
        height: 60vh;
    }

    .hero h1 {
        margin-top: .5em;
        font-size: 1.5em;
        text-shadow: 1px 1px 2px black;
    }

    .hero span {
        margin-left: 17%;
        margin-top: 65vh;
        font-size: 1em;
        bottom: 20px;
    }

    .inquire-one {
        position: absolute;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
    }

    .inquire-btn {
        font-size: 1em;
        padding: 20px 25px;
    }

    .photo-cont {
        width: 100%;
    }

    .main-photo {
        width: 100%;
    }

    .info-text {
        width: 100%;
    }

    .info-text-condo {
        display: none;
    }

    .info-text-condo-mobile {
        display: block;
    }

    .info-dump {
        margin: 1em 0em;
        flex-direction: column;
    }
    
    .info-dump :is(h3,p) {
        font-size: 1.15em;
    }

    footer {
        height: 100px;
        text-align: center;
    }
    
    footer :is(a,p) {
        font-size: .5em;
    }

    input[type=checkbox] {
        margin: 0;
        width: 7.5%;
      }

      input[type=radio] {
        margin: 2.5px;
      }
      
      .choice-stay label {
          margin-right: 0;
          margin-left: 20px;
      }

}

@media (max-width: 350px) {

        .modal {
            height: 100%;
        }

        .hero h1 {
            font-size: 1.25em;
         }

         #poolY,
         #poolN {
         width: 20px;
     }
}